*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(61, 126, 126);
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: rgb(29, 25, 25);
    color: whitesmoke;
    margin: 30px;
    border-radius: 10px;
    display: inline block;

}
.book-container h2{
    color: blueviolet;
}
.book-container h5{
    color: rgb(16, 128, 159);
}
.book-container button{
    background-color: rgb(182, 94, 175);
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
.add-button{
    background-color: aqua;
    color: black;
    border-radius: 100%;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.popup-box{
    background-color: rgb(115, 194, 102);
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 3;
    display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: azure;
    margin: 5px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}

